{% extends 'Shop/header.html' %}
{% load static %}
{% block content %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="2" align="center">
            <tr>
                <td>
                    Update Stock
                </td>
                <td>
                    <input type="text" id="txt_stock" name="txt_stock">
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Update" >
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
{% endblock content %}